<!--sider_news Begin-->
<div class="dialog_more">
        <table class="dialog_table_thead">
        <thead>
        <tr>
        <td width="15%">日期</td>
        <td width="65%">标题</td>
        <td>来源</td>
        </tr>
        </thead>
        </table>
        <div class="dialog_scoll">
        <table class="dialog_table_tbody">
        <tbody>
            #{list items:induNewstList, as:'item'}
                    <tr>
                    <td width="15%">#{sinceVF item.declareDate, f:'HH:mm'/}</td>
                    <td width="65%">
                    <a href="javascript:void(0)" data-url="@{NewsCt.newsDetail(item.newsId)}"
            data-title="#{cutStr item.title, len:50 /}"
                #{if item.title.length()>50}title="${item.title}"#{/if}
            class="newstd tooltip">#{cutStr item.title, len:50 /}
                    </a>
                    </td>
                    <td>#{emVF item.newsSource/}</td>
                    </tr>
            #{/list}
        </tbody>
        </table>
        </div>
        </div>
    <!--sider_news End-->
        <script>
        new ScrollPage({
            scrollTarget:".dialog_scoll",
            appendTarget:".dialog_table_tbody",
            getUrl:getQueryUrl,
            pageNo:2,
            data:{"scodeStr":$("#scodes").val(), "pageNo":2},
            complete:registerDialog
        });
function getQueryUrl() {
    var url = "@{MessageCombinationCt.moreInduNewsList()}";
    return url;
}
        </script>





