#{extends 'subPageMain.html'/}
#{set title:'重大事项--大宗交易--更多'/}

<style type="text/css">
    #scrollTable table.thead th{/*表头*/
        border: 1px solid #3e3e3e;
        border-right:#C96;
        color:#fff;
        background: #4b4b4b;/*亮桔黄色*/
        text-align: center;
    }

    #scrollTable div{/*能带滚动条的表身*/
        /*div的第二个子元素*/
        width:100%;
        height:400px;
        overflow:auto;/*必需*/
    }
</style>
<div id="scrollTable">
    <table class="thead" width="100%" border="1" class="tbl_common tbl_exec" cellspacing="0" cellpadding="0">
        <col width="85px"/><col width="85px"/><col width="85px"/><col width="85px"/><col width="207px"/><col width=""/>
        <tbody>
        <tr>
            <th>交易日期</th>
            <th >成交价(元)</th>
            <th >成交量(万股)</th>
            <th >成交金额(万元)</th>
            <th >买入营业部</th>
            <th >卖出营业部</th>
        </tr>
        </tbody>
    </table>
<div>
<table width="100%" border="1" class="tbl_common tbl_exec" cellspacing="0" cellpadding="0">
    <tbody>#{list items:blockTradeList, as:'item'}
    <tr>
        <td>#{emVF item.tradeDate /}</td>
        <td>#{emVF item.price, f:'#,##0.00' /}</td>
        <td>#{emVF item.volume, f:'###,##0.00',scale:-4 /}</td>
        <td>#{emVF item.amout, f:'###,##0.00',scale:-4 /}</td>
        <td>#{emVF item.buyer /}</td>
        <td>#{emVF item.seller /}</td>
    </tr>
    #{/list}</tbody>
</table>
</div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
$(function(){
    tableBgFunc(); //表格隔行换色
});
</script>
#{/set}